/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*End CSS Reset Code*/


.main-wrapper {
   margin: 0 auto;
   width: 1000px;
}

a {
   text-decoration: none;
}

body {
   background: #CCC;
}

header nav {
   width: 100%;
   height: 60px;
   background: #FFF;
}

header nav ul {
   float: left;
}

header nav ul li {
   float: left;
   list-style: none;
   margin-right: 10px;
}

header nav ul li a {
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #111;
   line-height: 63px;
   margin-right: 10px;
}

header .nav-login {
   float: right;
}

header .nav-login form {
   float: left;
   padding-top: 15px;
}

header .nav-login form input {
   float: left;
   width: 140px;
   height: 30px;
   padding: 0 10px;
   margin-right: 10px;
   border: none;
   background: #CCC;
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #111;
   line-height: 30px;
}


header .nav-login form input[type="submit"] {
   float: left;
   width: 60px;
   height: 30px;
   margin-right: 10px;
   border: none;
   background: #F3F3F3;
   font-family: Arial, sans-serif;
   font-size: 14px;
   color: #111;
   cursor: pointer;
}

header .nav-login form input[type="submit"]:hover {
   background: #CCC;
}

header .nav-login a {
   display: block;
   width: 60px;
   height: 60px;
   border: none;
   float: right;
   background: #FFF;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #111;
   line-height: 63px;
   cursor: pointer;
}

.main-container {
   padding-top: 40px;
}

.main-container h2 {
   font-family: Arial, sans-serif;
   font-size: 40px;
   color: #111;
   line-height: 50px;
   text-align: center;
}

.main-container h2:nth-child(2) {
   font-size: 36px;
}

.main-container .user-info {
   width: 100%;
   height: 500px;
   background: #FFF;
   margin-top: 100px;
}

/*signup.php*/

.signup-form {
   width: 400px;
   margin: 0 auto;
   padding-top: 30px;
}

.signup-form input {
   width: 90%;
   height: 40px;
   padding: 0 5%;
   margin-bottom: 4px;
   border: none;
   background: #FFF;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #111;
   line-height: 30px;
}

.signup-form input[type="submit"] {
   display: block;
   margin: 0 auto;
   width: 30%;
   height: 40px;
   border: none;
   background: #222;
   font-family: Arial, sans-serif;
   font-size: 16px;
   color: #FFF;
   cursor: pointer;
}

.signup-form input[type="submit"]:hover {
   background: #444;
}

/*Asset Manager*/

.asset-wrapper {
   margin: 0 auto;
   width: 1000px;
   min-height: 800px;
   background: #FFF;
}

.asset {
   width: 210px;
   height: 230px;
   padding: 10px;
   background: #EEE;
   margin: 10px 10px;
   border-radius: 10px;
   float: left;
   overflow: hidden;
}

.asset-icon {
   width: 96px;
   height: 96px;
   border: 2px solid transparent;
   border-radius: 50%;
   background: #FFF;
   margin: 10px auto;
}

.asset[type="Vehicle"] .asset-icon {
   background: url("../images/car-26-512.png");
   background-size: 90px;
   background-position: center center;
   background-repeat: no-repeat;
}
.asset[type="Home"] .asset-icon {
   background: url("../images/home-5-512.png");
   background-size: 80px;
   background-position: center center;
   background-repeat: no-repeat;
}
.asset[type="Business"] .asset-icon {
   background: url("../images/banknotes-512.png");
   background-size: 80px;
   background-position: 2px 2px;
   background-repeat: no-repeat;
}

.asset.add {
   font-size: 100px;
   font-weight: bold;
   color: #999;
}

.asset.add:hover {
   background: #CCC;
}

.asset.add .plus {
   position: relative;
   top: 66px;
   left: 76px;
}

.blank-wrapper {
   margin: 30px auto 0px;
   font-size: 30px;
   font-family: Arial, sans-serif;
   color: #CCC;
   font-weight: bold;
}

textarea {
   margin: 0 auto;
}

.asset h2 {
   font-size: 24px;
}

.asset span {
   font-weight: bold;
}

h3 {
   font-family: Arial, sans-serif;
   margin-bottom: 10px;
   font-weight: normal;
}

input[placeholder="MM"], input[placeholder="YY"] {
   width: 10%;
}
.exp-wrapper span {
   color: #555;
   font-size: 20px;
   font-family: Arial, sans-serif;
   float: left;
   margin-right: 83px;
   margin-left: 10px;
   line-height: 40px;
}

.asset .delete {
   width: calc(100% + 20px);
   height: 0px;
   position: relative;
   bottom: -43px;
   left: -10px;
   transition: height 250ms ease-out, bottom 250ms ease-out;
}

.delete input {
    width: 100%;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    background: #F00;
    color: #FFF;
    cursor: pointer;
}

.asset:hover .delete {
    height: 40px;
    bottom: -3px;
}

.delete input:hover {
    background: #F55;
}

.Paid {
   height: 220px;
   border-bottom: 10px solid green;
}

.Not {
   height: 220px;
   border-bottom: 10px solid red;
}

.checked {
   box-shadow: 0 0 0 5px #0FF;
}

input[disabled="disabled"] {
   background: red;
}

.code1 {
   height: 220px;
   border-bottom: 10px solid green;
}

.code2 {
   height: 220px;
   border-bottom: 10px solid orange;
}
.code3 {
   height: 220px;
   border-bottom: 10px solid red;
}
